<a href="https://colab.research.google.com/github/seyiadisa/Udacity-datasets/blob/main/Twitter_scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q snscrape==0.3.4

In [ ]:
# import packagename
# print(packagename.__version__)

In [ ]:
import os 
import pandas as pd
from datetime import date

In [ ]:
# Defining date ranges(start-end date)

today = date.today() #define end as today using python function
end_date = today
print(end_date)

2022-06-07

In [ ]:
search_term = 'Covid19 vaccine'
from_date = '2022-05-07'

# Total Number of Tweets for Search Terms

In [ ]:
os.system(f"snscrape --since {from_date} twitter-search '{search_term} until:{end_date}' > result-tweets.txt")
if os.stat("result-tweets.txt").st_size == 0:
  counter = 0
else:
  df = pd.read_csv('result-tweets.txt', names=['link'])
  counter = df.size

print('Number Of Tweets : '+ str(counter))

Number Of Tweets : 6476

In [ ]:
df.head()

                                                link
0  https://twitter.com/VaxPeel/status/15339617737...
1  https://twitter.com/VaxPeel/status/15339591726...
2  https://twitter.com/Vaxyourfam/status/15339589...
3  https://twitter.com/NawalAlKaabi/status/153394...
4  https://twitter.com/fred_nothers/status/153394...

# Extracting Exact Tweeets

In [ ]:
max_results = 2000

In [ ]:
extracted_tweets = "snscrape --format '{content!r}'"+ f" --max-results {max_results} --since {from_date} twitter-search '{search_term} until:{end_date}' > extracted-tweets.txt"
os.system(extracted_tweets)
if os.stat("extracted-tweets.txt").st_size == 0:
  print('No Tweets found')
else:
  df = pd.read_csv('extracted-tweets.txt', names=['content'], skiprows = [1990])
  # for row in df['content'].iteritems():
  #   print(row)

In [ ]:
df.describe()

                                                  content
count                                                1990
unique                                               1871
top     '#Booster update: Children ages 5-11 are now e...
freq                                                   16

In [ ]:
df.head()

                                             content
0  Daniel's NOFRILLS Mississauga - DRUGStore Phar...
1  Daniel's NOFRILLS Mississauga - DRUGStore Phar...
2  Advisor's to the FDA are set to review the lat...
3  'ÿ´ŸÑÿßÿ´ ŸÖÿ¨ŸÖŸàÿπÿßÿ™ ŸÖŸÜ ÿßŸÑÿ®ÿßŸÑÿ∫ŸäŸÜ ÿßŸÑÿ£ÿµÿ≠ÿßÿ° (600 ŸÅÿ±ÿØ ŸÑŸÉŸÑ...
4  '@JeromeDavies1 @jeanlaydon @Outoftweet123 @GM...

In [ ]:

# n_tweets = []
# for tweet in df['content']:
#   if ('https' in tweet)==True:
#     tweet_new = tweet[0: 'https']
#     n_tweets.append(tweet_new)
#   else: 
#     n_tweets.append(tweet)

In [ ]:
# saving the dataframe
df.to_csv('cat_ind.csv')

In [ ]:
df.shape

(12471, 1)

In [ ]:
fg

# Extracting Tweets from Users

In [ ]:
# user_name = "SamdGreat01"
# user_tweets = "snscrape --format '{content!r}'"+ f" --max-results {max_results} --since {from_date} twitter-user '{user_name} until:{end_date}' > user-tweets.txt"
# os.system(user_tweets)
# if os.stat("user-tweets.txt").st_size == 0:
#   print('No Tweets found')
# else:
#   df = pd.read_csv('user-tweets.txt', names=['content'])
#   for row in df['content'].iteritems():
#     print(row)

(0, "I'm live\\n\\nhttps://t.co/kZjCem3nfj")
(1, "'How and why should you DIY (Do It Yourself)\\n\\nJoin me on my space here on youtube.\\n\\nCome with your questions\\n\\nhttps://t.co/5CclNTCnlP https://t.co/E9PZJLofs5'")
(2, "@Kentheo_17 @UniIbadan I don't think so too")
(3, "'@Bhordemarz Ehmm")
(4, "'@Jamaticulus Happy birthday dear brother\\n\\nEnjoy'")
(5, "That message of good news is around the corner\\n\\nDon't lose hope")
(6, "Theraja is so popular in Nigeria\\n\\nKA Stroud though has the best Engineering Mathematics textbook I've seen for beginners. He's not Indian https://t.co/n2Q8MG6Ndn")
(7, "@KenekeEdwin You're right")
(8, "I love you to assume I don't know it than assume I know it üòÄ https://t.co/BZ2O1rPfC6")
(9, "I'll try &amp; watch my words saying this so I don't offend professors from many countries\\n\\nI have listened to divers lectures online &amp; my observation is that I seem to understand Indian professors better\\n\\nEven as an undergraduate, I used more of Indian textbooks. Others were backup")
(10, "'@olumuyiwaayo @Scholarshipcaf2 Wow!\\n\\nI doff my hat sir'")
(11, "'@matajson üòÇüòÇüòÇüòÇ'")
(12, "'I say it again\\n\\nC Ronaldo")
(13, "'Have you reviewed SOPs or cold emails that sounded like this before?\\n\\nYou go fear people https://t.co/AN2a7yrzzN'")
(14, "@Oludeewon It's a big step forward")
(15, "'@Oludeewon Congratulations üéâ'")
(16, "'C Ronaldo")
(17, "That's why mine brings cocomelon and other nursery rhymes https://t.co/V71nfJJ6Ag")
(18, "@iam_MadukweUC It can appear in both\\n\\nYou can explain briefly what you've done or can do with the skill in the SOP")
(19, "'@BrianNeugent Yes definitely üòÄ'")
(20, "'Who can recommend YouTube channels teaching programming https://t.co/S6Vi6a52vW'")
(21, "'@olumuyiwaayo @Adefisanlekan @Jamaticulus @sjay_yayy I concur'")
(22, "'You can learn almost anything on YouTube'")
(23, "'@Highbeekae1 Start by learning free on YouTube'")
(24, "'@AmeboSophie You get the logic'")
(25, "'@Oyimatology @elonmusk That will always be true'")
(26, "'@olorunwababs üòÄüòÄüòÄ'")
(27, "@olorunwababs @MBuhari That's very true.\\n\\nAction plan")
(28, "'@abolajifemi Abi now'")
(29, "'@Oyimatology @elonmusk üòÄüòÄ'")
(30, "Get a degree if you have the opportunity\\n\\nThe Bill Gates, Zuckerberg examples of drop outs are usually the exemptions\\n\\nThere are millions more who dropped out and we didn't hear about them\\n\\nWhy? Nothing significant to be told about them\\n\\nSo get that degree")
(31, "What you didn't add is that we have thousands or millions more who didn't graduate college https://t.co/xTmzmxEYFe")
(32, "@olorunwababs @MBuhari Do you trust that commitment given our heavy reliance on oil\\n\\nIf western world say 2050, we shouldn't even say anything yet. What's the alternative for us?")
(33, "'@B_akwaugo Python")
(34, "'Programming skills will always be a plus in your application to graduate school\\n\\nAlmost every research area now has something to do with this\\n\\nLearn in if you still can'")
(35, "When you send your cold email, you don't need to put all your life experiences in the message\\n\\nAdd only experiences that matter to what you're applying for\\n\\nhttps://t.co/zSkDbyOYBr")
(36, "'@GoodnessAdeosun And this is beautiful Goodness'")
(37, "@Success_Aisa Yee, I'm not receiving for now. I'm still with those sent in the past 30days\\n\\nIf you send, you'll have to wait a very long time")
(38, "@TheMonarchArch1 @olumuyiwaayo @Iam_MrPackagin @Jamaticulus @matajson I don't know about that")
(39, "'@EbooksPlug Yes every man should to understand women'")
(40, "'@BethelUkazu Brother there are million excuses one can always find\\n\\nI know how I spent my data when I was still in Nigeria. All these excuses were there\\n\\nWhen there is a will")
(41, "'@Moti_dqueen üòÄüòÄ'")
(42, "'@AVA_LA_REINE @UniIbadan Not cancelled\\n\\nhttps://t.co/ig1RTY7xuN'")
(43, "'@MabelAdewunmi @UniIbadan Beautiful ‚ù§Ô∏è'")
(44, "'@unbent_ @UniIbadan Good'")
(45, "'Someone is asking what of graduates\\n\\nAPS is for everyone involved with Physics or related matters\\n\\nStudents")
(46, "'@KenekeEdwin @APSphysics Sure for graduates too'")
(47, "@Cryptmenic Don't stop")
(48, "'Daniel Regha is consistent with what he does\\n\\nAnd the guy is actually good\\n\\nSomeone should compile his funny comments into a single thread\\n\\nThat thread will go viral'")
(49, "Dependents of f1 student visa holders ordinarily shouldn't have issues when they go to the embassy for their visa interviews\\n\\nI've however seen cases where Nigerians were denied more than once because of simple mistakes\\n\\nIt all starts from filling DS160\\n\\nhttps://t.co/oar8t8OuwN")
(50, "Rejection is part of the journey\\n\\nDon't let it stop you from achieving what you set your mind on\\n\\nBounce back")
(51, "'@Goddygbe Then wait")
(52, "'@Goddygbe If you followed the process")
(53, "@Queen_Naykah You're very much welcome")
(54, "@RizamaVictor You're welcome")
(55, "'@awotwe_eshun Do a quick search on google'")
(56, "@KenekeEdwin Traumatized üò≤\\n\\nKeep it well now so other small boys don't get traumatized")
(57, "'@praize_oh Derek Jones'")
(58, "'@Jesu_mylove Ahh")
(59, "I know it's tough\\n\\nThe temptation is there I know\\n\\nIn fact I know you're tired\\n\\nBut please, please\\n\\nDon't give up\\n\\nYes you may take a break\\n\\nBut bounce back\\n\\nDon't give up\\n\\nhttps://t.co/I4rKsZGAco")
(60, "'@i_benjamn_ üò≤'")
(61, "'Hopefully those trapped will be rescued alive https://t.co/Wielsx3zPw'")
(62, "'@Deyosolae Yea really'")
(63, "'All thanks to someone who decided to assist in reviewing some of the SOPs I still have with me\\n\\nThe Prof chose to remain anonymous'")
(64, "'@Deyosolae The person typed SOP as message body in the email sent\\n\\nInstead of using word document or google document'")
(65, "'Someone for real typed SOP as the message body and emailed it that way\\n\\nNo now\\n\\nUse word document and attach it'")
(66, "'@WolewoleNaija Oh yeah")
(67, "'@Oga_Sabi Oh a simple google search should lead you to amazon or other sites'")
(68, "@Papinaani Congratulations my brother\\n\\nGlad you didn't give up")
(69, "If you're a Physics student, you can become an @APSphysics member\\n\\nThere is a free student trial you can take advantage of to become a member for 1 year\\n\\nIf you reside in a developing country may even apply for free membership (Matching Membership)\\n\\nhttps://t.co/PdBvZFdJ1B")
(70, "'@bufekabamoti Very very'")
(71, "@AVA_LA_REINE @UniIbadan Are you saying it's been cancelled or you're asking?")
(72, "'For the record")
(73, "'@OlumideFasanmi üòÄüòÄ'")
(74, "'Happy birthday to you Rinu\\n\\nThe fire will not be quenched https://t.co/Cl5G9UDAsn'")
(75, "'@Yohanna____ Yea same here'")
(76, '\'Today is my first time filling a form in the US and I found the option "African" under race/ethnicity...\\n\\nAll other times I\\\'ve been forced to choose either Black or African American or Black American\\n\\nThe form is on equity and diversity so I\\\'m not so surprised\'')
(77, "'@oladimix wow!'")
(78, "'@nugesjr Nice book'")
(79, "'@TOlajumoke Yea very educative'")
(80, "'@Ibierefa @fgnaija You should be able to find online'")
(81, "'Really?\\n\\nWe were offered accommodation during my time https://t.co/yeodIjaRD7'")
(82, "'Wicked teachers!\\n\\nThey will draw a car on the board and ask you to push the car'")
(83, "'@matajson üòÄüòÄ'")
(84, "'@joybhadmus I understand that'")
(85, "'@erubamidele You can find it online'")
(86, "You were in secondary school, that's expected\\n\\nHope you've finally been able to read it https://t.co/GBliJw9QKW")
(87, "'@Planet75033060 Derek Jones'")
(88, "'@fgnaija Yes'")
(89, "'Undergraduate scholarship for international students at the University of Calgary")
(90, "'@Alaaga_01 @UniIbadan @FUTAkure Do they currently have a program like that?'")
(91, "'@FLijoka OPT is your answer. The process starts there after you complete your program'")
(92, '\'There is a book I read before marriage which I believe every man should read\\n\\n"Every Woman"\'')
(93, "I'm making a shout out to @UniIbadan for the Msc scholarships they give to first class graduates\\n\\nIf you benefited from this or know someone who did, pls help appreciate them\\n\\nSome of us wouldn't have been able to afford it\\n\\nOther Universities can learn from University of Ibadan https://t.co/pwSBLhwOln")
(94, '\'Happy new month friends\\n\\nMay November be a month of "yes" to the requests you have made\'')
(95, "'I love this https://t.co/3vJFvoVq72'")
(96, "'@delgigsongz @AjibodeAdekunle Na so'")
(97, "@OluwamayowaTJ Happy birthday Mayowa\\n\\nMay this new phase lead you into the full measure of God's plans and purposes for your life")
(98, "'@Ijesha_canadian üòÄüòÄüòÄ\\n\\nEnjoy it my brother'")
(99, "'@eniolakiite Ah we need empowerment\\n\\nJesus empowered his disciples before they went\\n\\nSapa no go make that commission work üòÄ'")